In [ ]:
import pandas as pd
a=pd.read_csv("/content/drive/MyDrive/GOLDdata.csv")
a['Date'] = pd.to_datetime(a['Date'])
a['Day'] = a['Date'].dt.day
a['Month'] = a['Date'].dt.month
a['Year'] = a['Date'].dt.year
print(a)

           Date   Price    Open    High     Low  Day  Month  Year
0    2023-10-27  1998.5  1995.0  2019.7  1986.4   27     10  2023
1    2023-10-26  1997.4  1991.2  2003.7  1981.6   26     10  2023
2    2023-10-25  1994.9  1982.7  1998.6  1973.6   25     10  2023
3    2023-10-24  1986.1  1984.1  1992.0  1964.6   24     10  2023
4    2023-10-23  1987.8  1987.7  1994.3  1971.0   23     10  2023
...         ...     ...     ...     ...     ...  ...    ...   ...
3055 2012-01-09  1608.1  1617.7  1624.6  1605.7    9      1  2012
3056 2012-01-06  1616.8  1622.4  1632.3  1609.0    6      1  2012
3057 2012-01-05  1620.1  1614.4  1626.8  1597.7    5      1  2012
3058 2012-01-04  1612.7  1604.9  1619.8  1593.8    4      1  2012
3059 2012-01-03  1600.5  1571.0  1608.7  1566.8    3      1  2012

[3060 rows x 8 columns]

In [ ]:
new_a = a[a['Year'].isin([2023, 2022])]

In [ ]:
print(new_a)

          Date   Price    Open    High     Low  Day  Month  Year
0   2023-10-27  1998.5  1995.0  2019.7  1986.4   27     10  2023
1   2023-10-26  1997.4  1991.2  2003.7  1981.6   26     10  2023
2   2023-10-25  1994.9  1982.7  1998.6  1973.6   25     10  2023
3   2023-10-24  1986.1  1984.1  1992.0  1964.6   24     10  2023
4   2023-10-23  1987.8  1987.7  1994.3  1971.0   23     10  2023
..         ...     ...     ...     ...     ...  ...    ...   ...
474 2022-01-07  1797.4  1791.0  1798.4  1781.3    7      1  2022
475 2022-01-06  1789.2  1810.6  1811.6  1785.4    6      1  2022
476 2022-01-05  1825.1  1815.2  1830.7  1808.2    5      1  2022
477 2022-01-04  1814.6  1801.1  1817.2  1798.1    4      1  2022
478 2022-01-03  1800.1  1830.1  1833.0  1798.2    3      1  2022

[479 rows x 8 columns]

In [ ]:
X = a[['Day', 'Month', 'Year', 'Open']]

In [ ]:
Y = a['Price']

In [ ]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size=0.2, random_state=42)
print(x_train)
print(x_test)
print(y_train)
print(y_test)

      Day  Month  Year    Open
2322   10     11  2014  1176.8
2031   24     12  2015  1069.6
1373   16      7  2018  1241.0
351    30      6  2022  1819.2
2918   19      7  2012  1573.0
...   ...    ...   ...     ...
1638    5      7  2017  1223.0
1095   13      8  2019  1522.3
1130   25      6  2019  1423.4
1294    2     11  2018  1235.3
860    10      7  2020  1808.4

[2448 rows x 4 columns]
      Day  Month  Year    Open
1764    9      1  2017  1172.9
203    20      1  2023  1933.7
1356    8      8  2018  1218.7
1451   27      3  2018  1353.6
1577   28      9  2017  1285.1
...   ...    ...   ...     ...
2778    4      2  2013  1669.1
2279   12      1  2015  1223.0
219    30     12  2022  1821.8
367     8      6  2022  1855.0
2302    8     12  2014  1191.2

[612 rows x 4 columns]
2322    1159.8
2031    1075.9
1373    1239.7
351     1807.3
2918    1580.4
         ...
1638    1223.4
1095    1514.1
1130    1418.7
1294    1233.3
860     1801.9
Name: Price, Length: 2448, dtype: float64
1764    1184.9
203     1928.2
1356    1221.0
1451    1342.0
1577    1288.7
         ...
2778    1676.4
2279    1232.8
219     1826.2
367     1856.5
2302    1194.9
Name: Price, Length: 612, dtype: float64

In [ ]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
b = model.fit(x_train, y_train)

In [ ]:
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
print(mean_squared_error(y_test,y_pred))
print(mean_absolute_error(y_test,y_pred))

210.7691111418763
9.943827292482695

In [ ]:
new_day = int(input("Enter the day: "))
new_month = int(input("Enter the month: "))
new_year = int(input("Enter the year: "))
new_open = float(input("Enter the opening price: "))

Enter the day: 23
Enter the month: 7
Enter the year: 2023
Enter the opening price: 1987.7

In [ ]:
new_data = pd.DataFrame({
    'Day': [new_day],
    'Month': [new_month],
    'Year': [new_year],
    'Open': [new_open]
})

In [ ]:
predicted_price = model.predict(new_data)

print(f"Predicted Price for {new_day}/{new_month}/{new_year}: {predicted_price[0]}")

Predicted Price for 23/7/2023: 1986.3052183219065